.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #212121;
  color: #d4dcff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li {
  list-style: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 20px;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.border-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #2f6bff;
  border-radius: 10px;
  width: 400px;
  padding-right: 15px;
}
.question {
  font-weight: 700;
}
#result-text {
  display: inline;
  font-size: 12px;
  border-width: 2px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(66, 66, 66, 0);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  vertical-align: top;
  text-align: left;
  width: 400px;
  padding: 10px;
}
.second-heading {
  font-size: 14px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.main-list-item {
  display: flex;
  flex-direction: column;
}
.gender-list {
  padding: 0;
  display: flex;
}
.list-item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.age-text {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
#homeInput {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
#hospitalizedLabelOd {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
#hospitalizedLabelDo {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
#hospitalizedInputDo {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
#hospitalizedInputOd {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
#questionConsultation {
  font-weight: 700;
}
.hospitalized-from {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
#inputConsultation {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
input {
  margin-bottom: 10px;
  margin-top: 10px;
}
.medicines-div {
  display: flex;
  flex-direction: column;
}
#psychologistSince {
  font-size: 12px;
  border-width: 0px;
  border-bottom: 1px;
  border-color: #2f6bff;
  background-color: #212121;
  color: #d4dcff;
  border-style: solid;
}
.psychiatrist-div {
  display: flex;
  flex-direction: column;
}
